.nav-link{
    color: black;
    font-size:24px;
    font-family: Solway, serif;
   
 }
 .nav-link:hover{
    color: black;
 }
 .nav{
 display: flex;
 align-items: center;
 }
 .btn{
    background-color: #94091D;
    border: none;
    font-size: 24px;
    font-family: Solway, serif;
    margin-left: 5px;
 }
 .btn-primary{
    background-color: #94091D;
 }
 .btn:hover{
    background-color:#740818;
 }
 .dropdown{
   position: relative;
   display: inline-block;
}
.dropdown-content{
   display: none;
   position: absolute;
   background-color: #94091D;
   min-width: 160px;
   width: 98%;
   margin-left: 5px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
   border-radius: 0px 0px 10px 10px;
}
.dropdown-content a{
   text-align: center;
   font-family: Solway,serif;
   font-size: 24px
   color: white;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
}
.dropdown-content a:hover{
   background-color: #740818;
   border-radius: 0px 0px 10px 10px;
}
.show{
   display: block;
}
 .fa-search{
    font-size: 24px;
    width: 30px;
    position: relative;
    margin: 20px;
 }
 .fa-shopping-cart{
    font-size: 24px;
    width: 30px;
    position: relative;
    margin: 20px;
 }
 /*first jumbotron*/
 .container{
    max-width: 100%;
    padding: 0%;   
    position: relative;
    text-align: center;
  
 }
 .text-start{
    position: absolute;
    bottom: 50%;
    left: 100px;
    font-family: Raleway, sans-serif;
    font-size: 48px;
   
  
 }
 .btn-order-now{
    position: absolute;
    bottom: 30%;
    left: 100px;
    width: 200px;
 }
 /* second jumbotron */
 .jumbo-2{
    height: 540px;
 }
 .img-Olivia1{
    width: 350px;
    margin-left: 100px;
    margin-top: 100px;
    margin-right: 40px;
 }
 .img-title{
    margin-left: 300px;
 }
 .about-text-box{
    font-family: Raleway, sans-serif;
    font-weight: bold;
    width: 50%;
   float: right;
   margin-right: 80px;
   margin-top: 100px;
 }
 .para-text{
    font-family: Assistant, sans-serif;
    font-weight: 100;
    font-size: 24px;
 }
 .btn-story{
    margin-left: 0px;
    width:200px;
  
 }
 .container-blue{
    background-color: #A2DFE2;
    height: 500px;
 }
 .celebrate-text-box{
    font-family: Raleway, sans-serif;
    margin-left: 100px;
    margin-top: 100px;
    width: 55%;
 }
 .btn-special-occasions{
    margin-left:0px;
 }
 .img-flamingo{
    width: 350px;
    margin-top: 50px;
    margin-right: 40px;
 }
 .container-white{
    height: 500px;
 }
 .img-cookie{
    width: 350px;
    margin-left: 100px;
    margin-top: 100px;
    margin-right: 40px;
 }
 .passion-text-box{
    font-family: Raleway, sans-serif;
    width: 50%;
   float: right;
   margin-right: 80px;
   margin-top: 100px;
 }
 .btn-learn-more{
    margin-left: 0px;
 }
 .container-pink{
    height: 500px;
    background-color: rgba(255, 153, 219, 0.49);
    overflow: hidden;
 }
 .reviews-text-box{
    font-family: Raleway, sans-serif;
    margin-top: 70px;
    justify-content: center;
    align-items: center;
 }
 .reviews{
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
 }
 .review1box{
    flex-grow: 1;
    /* position: absolute; */
    width: 50%;
    height: 300px;
  
 }
 .review1{
    width: 350px;
    font-family: Assistant, sans-serif;
    font-weight: 100;
    font-size: 24px;
    margin-left: 120px;
    margin-top: 50px;
 }
  
 .review2box{
    flex-grow: 1;
    height: 300px;
    width: 50%;
 }
 .review2{
    width: 350px;
    font-family: Assistant, sans-serif;
    font-weight: 100;
    font-size: 24px;
    margin-left: 120px;
    margin-top: 50px;
 }
 .blueheart{
    color: blue;
  
 }
 .btn-container{
    height: 70px;
    position: relative;
 }
 .btn-review{
 margin-bottom:50px;
  /* position: absolute; */
  top: 0;
  margin-left: 40%;
 }
 .img-footer{
    width: 100%;
    margin-top: -50px;
 }
 h1{
    font-family: Raleway,serif;
    font-weight: 600;
    font-size: 64px;
 }
 p{
   font-family: Assistant,sans-serif;
   font-weight: 100;
   font-size: 36px;
 }
 .spacing-border{
    height: 50px;
 }

 .btn-check:focus+.btn-primary, .btn-primary:focus {
    outline-color: #ffffff;
    background-color: #740818;
}
